body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 3em;
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}
header h1:hover {
    color: rgb(233, 255, 39); 
    transform: scale(1.1);
}

.header-gradient {
    background: linear-gradient(to top, #49170b, #b96b30);
    padding: 20px;
    color: white;
    text-align: center;
}
.nav-gradient {
    background: linear-gradient(to top, #272424, #49170b);
}

nav {
    background-color: #555;
}

nav .left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

nav .left a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav .left a:hover,
nav .left a.active {
    background-color: #777;
    transform: scale(1.1);
}

nav .left a.perfil-link:hover {
    background-color: #e4220098;
}