.reservas-container {
    background-image: url('../../assets/img/1.1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
}

.contRL {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

.register-form h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.register-form input, .register-form button {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}

.register-form button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #0056b3;
}
