.reservas-container {
    background-image: url('../../assets/img/1.1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
}

.contRL {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

.register-form h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.register-form input, .register-form button {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}

.register-form button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .social-media {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 40px 0;
    text-align: center;
  }
  
  .social-links {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-links a img {
    width: 40px; /* Tamaño de las imágenes */
    height: 40px;
  }
  
  .social-links a {
    color: #fff; /* Color de iconos */
    margin: 0 20px; /* Espaciado entre los iconos */
  }
  
  .social-links a:hover {
    color: #ff5c00; /* Cambio de color al pasar el mouse */
  }
  
  .address {
    margin-top: 30px; /* Espacio superior */
  }
  
  .address p {
    margin-bottom: 10px; /* Espacio inferior */
  }