<!-- Mostrar la lista de menús -->
<div class="menu-container">
  <div class="menu-item" *ngFor="let menu of menus">
      <div class="menu-info">
          <h2 class="menu-title">{{ menu.nombre }}</h2>
          <p class="menu-price"><strong>Precio:</strong> {{ menu.precio }}</p>
          <p class="menu-description"><strong>Descripción:</strong> {{ menu.descripcion }}</p>
          <p class="menu-category"><strong>Categorías:</strong> {{ menu.categoria }}</p>
      </div>
      <div class="menu-image">
          <img class="menu-img" [src]="menu.img" alt="Imagen de {{ menu.nombre }}">
      </div>
  </div>
</div>

<!-- Interfaz de usuario para la modificación del menú -->
<div *ngIf="authService.isUserAdmin()">
  <h2 class="modify-menu-title">Agregar Menú</h2>
  <!-- Campos del formulario para agregar, editar o eliminar elementos del menú -->
  <form class="menu-form" (submit)="crearMenu(); $event.preventDefault();">
      <label class="menu-form-label" for="nombre">Nombre:</label>
      <input class="menu-form-input" type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>

      <label class="menu-form-label" for="precio">Precio:</label>
      <input class="menu-form-input" type="number" id="precio" name="precio" [(ngModel)]="precio" required>

      <label class="menu-form-label" for="descripcion">Descripción:</label>
      <textarea class="menu-form-textarea" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required></textarea>

      <label class="menu-form-label" for="categoria">Categoría:</label>
      <input class="menu-form-input" type="text" id="categoria" name="categoria" [(ngModel)]="categoria" required>

      <label class="menu-form-label" for="img">Imagen URL:</label>
      <input class="menu-form-input" type="text" id="img" name="img" [(ngModel)]="img" required>

      <button class="menu-form-button" type="submit">Agregar Menú</button>
  </form>
</div>
