/* Estilos del contenedor del menú */
.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

/* Estilos del elemento de menú */
.menu-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-image: url('../../assets/img/fondoCarbon.png');
}

/* Último elemento de menú no debe tener margen derecho */
.menu-item:last-child {
    margin-right: 0;
}

/* Efecto de elevación al pasar el cursor */
.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

/* Información del menú */
.menu-info {
    padding: 20px;
    flex-grow: 1; 
    color: #ffffff;
}

/* Títulos del menú */
.menu-title {
    margin-top: 10px;
    font-size: 2.5rem;
    color: #ffffff;
    transition: color 0.3s;
    font-weight: bold;

}

/* Cambio de color al pasar el cursor sobre el título */
.menu-title:hover {
    color: #007bff;
}

/* Descripción del menú */
.menu-description,
.menu-price,
.menu-category {
    margin: 10px 0;
    font-size: 0.9rem;
}

/* Imagen del menú */
.menu-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-bottom: 40px;
}

.menu-img {
    width: 50rem;
    height: 30rem;
    display: block;
    transition: transform 0.3s;
    object-fit: cover;
}

/* Efecto de escala al pasar el cursor sobre la imagen */
.menu-img:hover {
    transform: scale(1.05);
}

/* Estilos del formulario de modificación del menú */
.menu-form {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos de los elementos del formulario */
.menu-form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.menu-form-input,
.menu-form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.menu-form-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-form-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Estilos de redes sociales */
.social-media {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.social-media h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-links a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-links a:hover img {
    transform: scale(1.2);
}

.address {
    margin-top: 30px;
}

.address p {
    margin-bottom: 10px;
    font-size: 1rem;
}
