/* Estilos del elemento de menú */
.menu-item {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Evitar que las imágenes se desborden */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
    margin-bottom: 20px; /* Separación entre elementos */
    width: calc(50% - 20px); /* Ancho del 50% del contenedor con margen */
    display: inline-block; /* Mostrar en línea */
    vertical-align: top; /* Alinear al principio */
    box-sizing: border-box; /* Incluir bordes y relleno en el tamaño */
    margin-right: 20px; /* Separación entre cajas de menú */
}

/* Último elemento de menú no debe tener margen derecho */
.menu-item:last-child {
    margin-right: 0;
}

/* Efecto de elevación al pasar el cursor */
.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

/* Información del menú */
.menu-info {
    padding: 20px;
}

/* Títulos del menú */
.menu-info h2 {
    margin-top: 0;
    font-size: 1.2rem; /* Tamaño del título */
    color: #333; /* Color del texto del título */
    transition: color 0.3s; /* Transición de color suave */
}

/* Cambio de color al pasar el cursor sobre el título */
.menu-info h2:hover {
    color: #007bff; /* Nuevo color al pasar el cursor */
}

/* Descripción del menú */
.menu-info p {
    margin: 10px 0; /* Separación entre párrafos */
    font-size: 0.9rem; /* Tamaño del texto */
}

/* Imagen del menú */
.menu-image img {
    max-width: 100%;
    display: block; /* Asegurar que la imagen se ajuste correctamente */
    border-radius: 10px;
    transition: transform 0.3s; /* Transición suave */
}

/* Efecto de escala al pasar el cursor sobre la imagen */
.menu-image img:hover {
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}
