<body>
  <div class="reservas-container">
    <h2 class="reservas-title">Mis Reservas</h2>
    <ul class="reservas-list">
      <li class="reserva-item" *ngFor="let reserva of reservas">
        <div *ngIf="reserva.idReserva !== idReservaEditando">
          <p>Fecha y hora: {{ reserva.fecha_hora }}</p>
          <p>Número de personas: {{ reserva.numPersonas }}</p>
          <p>Número de mesa: {{ reserva.numMesa }}</p>
          <button class="btn modificar" (click)="editarReserva(reserva.idReserva)">Modificar</button>
          <button class="btn eliminar" (click)="eliminarReserva(reserva.idReserva)">Eliminar</button>
        </div>
        <div *ngIf="reserva.idReserva === idReservaEditando">
          <form (submit)="actualizarReserva(reserva)">
            <label for="numPersonas">Número de personas:</label>
            <input type="number" id="numPersonas" [(ngModel)]="reserva.numPersonas" name="numPersonas" required>

            <label for="fecha_hora">Fecha y hora:</label>
            <input type="datetime-local" id="fecha_hora" [(ngModel)]="reserva.fecha_hora" name="fecha_hora" required>

            <label for="numMesa">Número de mesa (opcional):</label>
            <input type="number" id="numMesa" [(ngModel)]="reserva.numMesa" name="numMesa">

            <button type="submit" class="btn guardar">Guardar</button>
            <button type="button" class="btn cancelar" (click)="cancelarEdicion()">Cancelar</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</body>
<section class="social-media">
  <div class="container">
    <h2>Síguenos en las Redes Sociales</h2>
    <div class="social-links">
      <a href="https://www.facebook.com/?locale=es_ES" target="_blank">
        <img src="../../assets/img/face.png" alt="Facebook">
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="../../assets/img/insta.png" alt="Instagram">
      </a>
      <a href="https://x.com/?lang=es" target="_blank">
        <img src="../../assets/img/x.png" alt="Twitter">

      </a>
    </div>
    <div class="address">
      <p>Dirección: Calle Principal, 123, Madrid 28044, España</p>
      <p>Indicaciones: Estamos ubicados en el corazón de la ciudad, cerca de la plaza central. Puedes encontrarnos justo al lado del cine principal.</p>
    </div>
  </div>
</section>
