<!-- inicio.component.html -->
<section class="hero">
  <div class="hero-content">
    <h1>Bienvenido a DoubleCook</h1>
    <p>¡Descubre una experiencia culinaria única!</p>
    <a routerLink="/menus" class="btn btn-primary">Ver Menú</a>
  </div>
</section>

<section class="about">
  <div class="container">
      <h2>Sobre Nosotros</h2>
      <p>En DoubleCook nos enorgullecemos de ofrecer una experiencia culinaria excepcional que fusiona la tradición con la innovación. Nuestro restaurante se inspira en la pasión por la gastronomía y el compromiso con ingredientes frescos y de la más alta calidad.</p>
      <p>Nuestra filosofía se basa en la creencia de que la comida es más que una simple necesidad; es una forma de arte que puede borrar los sentidos y unir a las personas. Desde platos clásicos hasta creaciones innovadoras, cada bocado está diseñado para sorprender y satisfacer a nuestros comensales.</p>
      <p>En DoubleCook, nos esforzamos por crear un ambiente acogedor y cómodo donde nuestros clientes puedan disfrutar de momentos inolvidables junto a sus seres queridos. Ven y únete a nosotros en este viaje culinario único.</p>
  </div>
</section>


<section class="gallery">
  <div class="container">
      <h2 class="deli">Delicias de DoubleCook</h2>
      <div class="image-slider">
          <img src="../../assets/img/1.1.jpg" alt="Imagen 1">
          <img src="../../assets/img/2.2.jpg" alt="Imagen 2">
          <img src="../../assets/img/3.3.jpg" alt="Imagen 3">
          <img src="../../assets/img/4.4.jpg" alt="Imagen 4">
          <img src="../../assets/img/5.5.jpg" alt="Imagen 5">
          <img src="../../assets/img/6.6.jpg" alt="Imagen 6">
          <img src="../../assets/img/7.7.jpg" alt="Imagen 7">
          <img src="../../assets/img/8.8.jpg" alt="Imagen 8">
      </div>
  </div>
</section>


<section class="social-media">
  <div class="container">
    <h2>Síguenos en las Redes Sociales</h2>
    <div class="social-links">
      <a href="https://www.facebook.com/?locale=es_ES" target="_blank">
        <img src="../../assets/img/face.png" alt="Facebook">
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="../../assets/img/insta.png" alt="Instagram">
      </a>
      <a href="https://x.com/?lang=es" target="_blank">
        <img src="../../assets/img/x.png" alt="Twitter">

      </a>
    </div>
    <div class="address">
      <p>Dirección: Calle Principal, 123, Madrid 28044, España</p>
      <p>Indicaciones: Estamos ubicados en el corazón de la ciudad, cerca de la plaza central. Puedes encontrarnos justo al lado del cine principal.</p>
    </div>
  </div>
</section>

