<body>
    <div class="comentarios-container">
      <h2 class="comentarios-title">Comentarios</h2>
      <ul class="comentarios-list">
        <li class="comentario-item" *ngFor="let comentario of comentarios">
          <div>
            <p class="comentario-titulo">{{ comentario.titulo }}</p>
            <p class="comentario-texto">{{ comentario.comentario }}</p>
            <p class="comentario-estrellas">Estrellas: {{ comentario.estrellas }}</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
  