<div class="header">
  <div class="title">DoubleCook</div>
  <button class="toggle-button" (click)="toggleMenu()">Toggle Menu</button>
</div>

<header [ngClass]="{'hidden': hideMenu}">
  <!-- Aquí va tu menú de inicio -->
  <nav>
    <ul>
      <li><a routerLink="/autenticacion">Autenticación</a></li>
      <li><a routerLink="/menus">Menús</a></li>
      <li><a routerLink="/reservas">Reservas</a></li>
    </ul>
  </nav>
  <!-- Agrega cualquier otro contenido del encabezado que desees -->
</header>

<main>
  <!-- El contenido dinámico se mostrará aquí -->
  <router-outlet></router-outlet>
</main>
