.hero {
  background-image: url('../../assets/img/fondoCarbon.png'); /* Agrega una imagen de fondo */
  background-size: cover; /* La imagen se ajustará para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  color: #fff; /* Color de texto */
  padding: 100px 0;
  text-align: center;
  position: relative; /* Para posicionar el botón */
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #ffffff;
}

.scale-up {
  transform: scale(0.5);
  animation: scaleUp 3s ease-in-out infinite;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.75);
  }
}



/* Estilos para los botones */
.btn {
  display: inline-block;
  background-color: #ff5c00; 
  color: #fff; 
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.btn:hover {
  background-color: #d45500; 
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.3s ease;
  z-index: -1;
}

.btn:hover:before {
  width: 100%;
}

/* Estilos para la sección about */
.about {
  background-color: #181818;
  padding: 60px 0;
  text-align: center;
  color: #ffff;
  font-family: 'Arial', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about h2 {
  font-size: 36px;
  margin-bottom: 30px;
  letter-spacing: 2px; 
  line-height: 1.5; 
}

/* Estilos para la sección de la galería */
.gallery {
  padding: 60px 0;
  background-color: #000000;
  color: #ffff;
  font-family: 'Arial', sans-serif; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.gallery h2 {
  font-size: 36px;
  margin-bottom: 30px;
  letter-spacing: 2px; 
  line-height: 1.5; 
}

.about p, .gallery p {
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 1.5px; 
  line-height: 1.6; 
  margin: 2px;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.image-grid img {
  max-width: 100%;
  border-radius: 5px;
}

.social-media {
  background-color: #000000;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.social-links {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a img {
  width: 40px;
  height: 40px;
}

.social-links a {
  color: #fff;
  margin: 0 20px;
}

.social-links a:hover {
  color: #ff5c00;
}

.address {
  margin-top: 30px;
}

.address p {
  margin-bottom: 10px;
}

.gallery {
  padding: 60px 0;
  overflow: hidden;
}

.image-slider {
  display: flex; 
  gap: 20px; 
  animation: slide 10s infinite alternate;
}

.image-slider img {
  max-width: calc(100% / 4 - 20px);
  height: auto; 
  transition: transform 0.5s ease;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); } 
}

.deli {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
